@import url('https://npm.elemecdn.com/lxgw-wenkai-screen-webfont/style.css');

:root {
    --r-main-font: 'LXGW WenKai Screen', "Microsoft YaHei", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

#large {
    font-size: 2.25em;
    font-family: "LXGW WenKai Screen";
    /* font-family: "Microsoft YaHei"; */
}

#note {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8;
    border-color: rgba(240, 240, 240, 1.0);
    color: rgb(255, 255, 255);
    text-align: left;
    margin: auto;
    font-family: "LXGW WenKai Screen";
}

.reveal .slide-number {
    font-size: 0.30em;
    position: fixed;
    left: 50%;
    width: 8%;
    text-align: center;
}

#customcontrols {
    /* <div id="customcontrols"> */
    visibility: hidden;
}